<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/styleguide.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="sidebar">
          <div class="list">
            <div class="list-2">
              <div class="menu-item"><div class="text-wrapper">メニュー</div></div>
              <div class="menu-item-2">
                <img class="group" src="https://c.animaapp.com/dcFBotWX/img/group@2x.png" />
                <div class="text-wrapper-2">活動登録</div>
              </div>
              <div class="menu-item-3">
                <img class="element" src="https://c.animaapp.com/dcFBotWX/img/----------1-2@2x.png" />
                <div class="text-wrapper-2">部署登録</div>
              </div>
              <div class="menu-item-3">
                <img class="SNS" src="https://c.animaapp.com/dcFBotWX/img/sns-------4-1.svg" />
                <div class="text-wrapper-2">部員登録承認</div>
              </div>
              <div class="menu-item-3">
                <img class="element" src="https://c.animaapp.com/dcFBotWX/img/-----------2@2x.png" />
                <div class="text-wrapper-2">部員登録申請</div>
              </div>
            </div>
          </div>
          <div class="title">社内イベント管理</div>
        </div>
        <div class="title-2">活動登録</div>
        <div class="overlap">
          <div class="overlap-group">
            <div class="form-field">
              <div class="label-description">
                <div class="div-2">
                  <div class="label-wrapper">
                    <div class="div-2"><div class="label">*活動場所</div></div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="input-base">
                  <div class="error-rectangle"></div>
                  <input class="text" placeholder="Placeholder text" type="text" />
                </div>
              </div>
            </div>
            <div class="form-field-2">
              <div class="label-description">
                <div class="div-2">
                  <div class="label-wrapper">
                    <div class="div-2"><div class="label">*募集人数</div></div>
                  </div>
                </div>
              </div>
              <div class="input">
                <div class="input-base">
                  <div class="error-rectangle"></div>
                  <input class="text" placeholder="Placeholder text" type="text" />
                </div>
              </div>
            </div>
            <div class="form-field-3">
              <div class="label-description">
                <div class="div-2">
                  <div class="label-wrapper">
                    <div class="div-2"><div class="label">活動説明</div></div>
                    <div class="elements-label"><div class="optional"></div></div>
                  </div>
                </div>
              </div>
              <div class="text-area">
                <div class="text-area-base">
                  <input class="input-area" placeholder="Placeholder text" type="text" />
                  <div class="text-area-icon">
                    <div class="overlap-group-2">
                      <img class="rectangle" src="https://c.animaapp.com/dcFBotWX/img/rectangle-10.svg" />
                      <img class="img" src="https://c.animaapp.com/dcFBotWX/img/rectangle-11.svg" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="date-picker">
              <div class="elements-trigger">
                <div class="button">
                  <div class="button-base">
                    <div class="button-icon">
                      <img class="icon" src="https://c.animaapp.com/dcFBotWX/img/icon-21.svg" />
                    </div>
                  </div>
                </div>
                <div class="date-input">
                  <div class="input-base-wrapper">
                    <div class="input-base-2">
                      <div class="error-rectangle"></div>
                      <div class="input-text-wrapper"><div class="input-text">YYYY/MM/DD</div></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="overlap-2">
            <div class="div-wrapper">
              <div class="input-base-2">
                <div class="error-rectangle"></div>
                <div class="input-text-wrapper"><div class="input-text">hh:mm</div></div>
              </div>
            </div>
            <div class="text-wrapper-3">〜</div>
          </div>
          <div class="input-2">
            <div class="input-base-2">
              <div class="error-rectangle"></div>
              <div class="input-text-wrapper"><div class="input-text">hh:mm</div></div>
            </div>
          </div>
        </div>
        <div class="form-field-4">
          <div class="label-description">
            <div class="div-2">
              <div class="label-wrapper">
                <div class="div-2"><div class="label">*活動名</div></div>
              </div>
            </div>
          </div>
          <div class="input">
            <div class="input-base">
              <div class="error-rectangle"></div>
              <input class="text" placeholder="Placeholder text" type="text" />
            </div>
          </div>
        </div>
        <div class="label-description-2">
          <div class="div-2">
            <div class="label-wrapper">
              <div class="div-2"><div class="label">部活名</div></div>
            </div>
          </div>
        </div>
        <div class="label-description-3">
          <div class="div-2">
            <div class="label-wrapper">
              <div class="div-2"><div class="label-2">ITインテグレーション部門</div></div>
            </div>
          </div>
        </div>
        <div class="label-description-4">
          <div class="div-2">
            <div class="label-wrapper">
              <div class="div-2"><div class="label">*活動日</div></div>
            </div>
          </div>
        </div>
        <div class="label-description-5">
          <div class="div-2">
            <div class="label-wrapper">
              <div class="div-2"><div class="label">*活動時間</div></div>
            </div>
          </div>
        </div>
        <button class="button-base-wrapper">
          <div class="button-base-2"><div class="button-text">戻る</div></div>
        </button>
        <div class="frame">
          <div class="div-2">
            <button class="button-2">
              <div class="button-base-3"><div class="button-text-2">登録</div></div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
