<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/styleguide.css}">
    <link rel="stylesheet" th:href="@{/css/ClubMemberApproval.css}">
  </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="sidebar">
          <div class="list">
            <div class="list-2">
              <div class="list-2">
                <div class="menu-item"><div class="text-wrapper">メニュー</div></div>
                <div class="menu-item-2">
                  <img class="group" src="https://c.animaapp.com/tdyjxDRL/img/group@2x.png" />
                  <div class="text-wrapper-2">活動登録</div>
                </div>
                <div class="menu-item-3">
                  <img class="element" src="https://c.animaapp.com/tdyjxDRL/img/----------1-2@2x.png" />
                  <div class="text-wrapper-2">部署登録</div>
                </div>
                <div class="menu-item-3">
                  <img class="SNS" src="https://c.animaapp.com/tdyjxDRL/img/sns-------4-1.svg" />
                  <div class="text-wrapper-2">部員登録承認</div>
                </div>
                <div class="menu-item-3">
                  <img class="element" src="https://c.animaapp.com/tdyjxDRL/img/-----------2@2x.png" />
                  <div class="text-wrapper-2">部員登録申請</div>
                </div>
              </div>
            </div>
          </div>
          <div class="title">社内イベント管理</div>
        </div>
        <button class="button">
          <div class="button-base"><div class="button-text">戻る</div></div>
        </button>
        <div class="title-2">部員登録承認</div>
        <div class="overlap">
          <div class="container-in-a">
            <div class="wrapper">
              <div class="header">
                <div class="title-action-buttons">
                  <div class="frame">
                    <div class="header-base"><div class="title-3">田中太郎</div></div>
                  </div>
                  <div class="action-stripe-wrapper">
                    <div class="action-stripe">
                      <button class="button-base-wrapper">
                        <div class="button-base-2"><div class="button-text-2">承認</div></div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="key-value-pairs"></div>
            </div>
          </div>
          <button class="div-wrapper">
            <div class="button-base-3"><div class="button-text">否認</div></div>
          </button>
        </div>
        <div class="overlap-group">
          <div class="container-in-a">
            <div class="wrapper-2">
              <div class="header">
                <div class="title-action-buttons">
                  <div class="frame">
                    <div class="header-base"><div class="title-3">佐藤一郎</div></div>
                  </div>
                  <div class="action-stripe-wrapper">
                    <div class="action-stripe">
                      <button class="button-base-wrapper">
                        <div class="button-base-2"><div class="button-text-2">承認</div></div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="div-wrapper">
            <div class="button-base-3"><div class="button-text">否認</div></div>
          </button>
          <button class="div-wrapper">
            <div class="button-base-3"><div class="button-text">否認</div></div>
          </button>
        </div>
        <div class="overlap-group-2">
          <div class="container-in-a">
            <div class="wrapper">
              <div class="header">
                <div class="title-action-buttons">
                  <div class="frame">
                    <div class="header-base"><div class="title-3">田中太郎</div></div>
                  </div>
                  <div class="action-stripe-wrapper">
                    <div class="action-stripe">
                      <button class="button-base-wrapper">
                        <div class="button-base-2"><div class="button-text-2">承認</div></div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="key-value-pairs"></div>
            </div>
          </div>
          <button class="div-wrapper">
            <div class="button-base-3"><div class="button-text">否認</div></div>
          </button>
        </div>
        <div class="overlap-2">
          <div class="container-in-a">
            <div class="wrapper-2">
              <div class="header">
                <div class="title-action-buttons">
                  <div class="frame">
                    <div class="header-base"><div class="title-3">佐藤一郎</div></div>
                  </div>
                  <div class="action-stripe-wrapper">
                    <div class="action-stripe">
                      <button class="button-base-wrapper">
                        <div class="button-base-2"><div class="button-text-2">承認</div></div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="div-wrapper">
            <div class="button-base-3"><div class="button-text">否認</div></div>
          </button>
        </div>
        <div class="header-base-2"><div class="title-3">ITインテグレーション部門</div></div>
      </div>
    </div>
  </body>
</html>
