<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/styleguide.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
  </head>
  <body>
    <div class="sidebar">
        <div class="list">
          <div class="list-2">
            <div class="menu-item"><div class="text-wrapper">メニュー</div></div>
            <!-- 部長のみ表示される -->
              <div class="menu-item-3">
                <img class="group" src="https://c.animaapp.com/dcFBotWX/img/group@2x.png" />
                <div class="text-wrapper-2"  th:class="${leaderClubId == null ? 'disabled' : ''}" onclick="location.href='@{/registerActivity/disp}'" >活動登録</div>
              </div> 
              <div class="menu-item-3">
                <img class="element" src="https://c.animaapp.com/dcFBotWX/img/----------1-2@2x.png" />
                <div class="text-wrapper-2"  th:class="${leaderClubId == null ? 'disabled' : ''}" onclick="location.href='@{/clubInfoRegister}'" >部署情報登録</div>
              </div>
              <div class="menu-item-3">
                <img class="SNS" src="https://c.animaapp.com/dcFBotWX/img/sns-------4-1.svg" />
                <div class="text-wrapper-2"  th:class="${leaderClubId == null ? 'disabled' : ''}" onclick="location.href='@{/joinApproval}'" >部員登録承認</div>
              </div>
              <!-- 全員表示される -->
              <div class="menu-item-3">
                <img class="element" src="https://c.animaapp.com/dcFBotWX/img/-----------2@2x.png" />
                <div class="text-wrapper-2"  th:class="${leaderClubId == null ? 'disabled' : ''}" onclick="location.href='@{/joinRequest}'" >部員登録申請</div>
              </div>
              <form action=""><input type="submit" value="ログアウト"/></form>
          </div>
        </div>
    </div>
  </body>
</html>