<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/globals.css}">
    <link rel="stylesheet" th:href="@{/css/styleguide.css}">
    <link rel="stylesheet" th:href="@{/css/MemberRequest.css}">
    </head>
  <body>
    <div class="screen">
      <div class="div">
        <div class="sidebar">
          <div th:replace="header"></div>
          <div class="title">社内イベント管理</div>
        </div>
        <div class="title">部員登録申請</div>
        <form role="form" th:action="@{/joinRequest/save}" th:object="${joinRequestSaveForm}" method="post"></form>
          <div class="frame">
            <div class="container-in-a">
              <div class="wrapper">
                <div class="div-2">
                  <div class="title-action-buttons">
                    <div class="header-base-wrapper">
                      <div class="header-base"><div class="text-wrapper" th:text="*{joinRequestSaveForm.clubName}">ITインテグレーション部門</div></div>
                    </div>
                    <div class="action-stripe-wrapper">
                      <div class="action-stripe">
                        <button class="button">
                          <div class="button-base">
                            <div class="button-icon">
                              <img class="icon" src="https://c.animaapp.com/s2zuqAk5/img/icon-16.svg" />
                            </div>
                            <div class="button-text">部員登録申請</div>
                          </div>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="div-2">
                    <div class="description" th:text="*{joinRequestSaveForm.clubDescription}">
                      【拠点】沖縄/仙台/東京<br />【内容「グーネット」及び、関連サービスのアプリケーション開発。自社サービスの開発。
                    </div>
                  </div>
                </div>
                <div class="key-value-pairs"></div>
              </div>
            </div>
          </div>
        </form>
        <button class="button-base-wrapper">
          <div class="button-base-2"><div class="button-text-2">戻る</div></div>
        </button>
      </div>
    </div>
  </body>
</html>
